@import '../variables.css';

.root {
  padding: 1rem 0.8rem;
}

.upperPortion {
  align-items: center;
  display: grid;
  grid-template:
    'gameButtons gameInputs' auto
    'gameButtons gameInputs' auto
    / 50% 50%;
  padding: 1.2rem 0 1.728rem;
}

@media (--screen-sm-min) {
  .upperPortion {
    grid-template:
      'gameButtons gameButtons' auto
      'gameInputs gameInputs' auto
      / auto auto;
  }
}

.gameButtons {
  align-items: center;
  display: grid;
  grid-area: gameButtons;
  grid-row-gap: 32px;
  grid-template:
    'selectMP1 selectMP2 selectMP3' 60px
    'selectMP4 selectMP5 selectMP6' 60px
    'selectMP7 selectMP8 selectMP9' 60px
    / auto auto auto;
  justify-content: space-evenly;

  & button {
    &:first-of-type {
      grid-area: selectMP1;

      & img {
        width: 19px;
      }
    }

    &:nth-of-type(2) {
      grid-area: selectMP2;
    }

    &:nth-of-type(3) {
      grid-area: selectMP3;

      & img {
        width: 21px;
      }
    }

    &:nth-of-type(4) {
      grid-area: selectMP4;

      & img {
        width: 26px;
      }
    }

    &:nth-of-type(5) {
      grid-area: selectMP5;

      & img {
        width: 23px;
      }
    }

    &:nth-of-type(6) {
      grid-area: selectMP6;
    }

    &:nth-of-type(7) {
      grid-area: selectMP7;

      & img {
        width: 26px;
      }
    }

    &:nth-of-type(8) {
      grid-area: selectMP8;
    }

    &:nth-of-type(9) {
      grid-area: selectMP9;
    }

    &:nth-of-type(2) img,
    &:nth-of-type(6) img,
    &:nth-of-type(8) img,
    &:nth-of-type(9) img {
      width: 20px;
    }
  }
}

.gameInputs {
  display: grid;
  grid-area: gameInputs;
  padding: 1rem;
}

.cardActions {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 992px) {
  .entryCards {
    display: grid;
    grid-gap: 1.44rem 1rem;
    grid-template:
      'firstEntryCard secondEntryCard' auto
      'thirdEntryCard fourthEntryCard' auto
      / auto auto;
    padding: 1.2rem 0 1.44rem;
  }
}
