.container {
  align-content: center;
  background-color: white;
  border-radius: 2px;
  display: grid;
  grid-template:
    'playerAvatar playerAvatar cpuToggle cpuToggle cpuToggle placeIndex' 50px
    'playerAvatar playerAvatar playerSearch playerSearch playerSearch playerSearch' 50px
    'charAvatar charAvatar charSelect charSelect charSelect charSelect' 100px
    'starIcon starInput starInput coinIcon coinInput coinInput' 80px
    / 1fr 1fr 1fr 1fr 1fr 1fr;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.2));
  margin: 1rem 0.8rem;
  position: relative;
  text-align: center;

  & > div {
    align-items: center;
    display: inline-grid;
    justify-content: space-evenly;
  }
}

.playerAvatar {
  grid-area: playerAvatar;

  & > img {
    border-radius: 50%;
    height: 84px;
    width: 84px;
  }
}

.cpuToggle {
  grid-area: cpuToggle;
}

.placeIndex {
  grid-area: placeIndex;
}

.playerSearch {
  grid-area: playerSearch;
}

.autocomplete {
  & > div {
    padding: 0;
  }
}

.charAvatar {
  grid-area: charAvatar;

  & > img {
    width: 64px;
    height: 64px;
  }
}

.charSelect {
  grid-area: charSelect;
}

.starIcon {
  grid-area: starIcon;
}

.starInput {
  grid-area: starInput;
}

.coinIcon {
  grid-area: coinIcon;
}

.coinInput {
  grid-area: coinInput;
}
