.root {
  align-items: center;
  display: grid;
  grid-template:
    'numInput numIncrement' 30px
    'numInput numDecrement' 30px
    / 60px 60px;

  & > button {
    height: 30px;
    margin: 0;
    min-width: unset;
    padding: 0 16px;

    &:first-of-type {
      grid-area: numIncrement;
    }

    &:last-of-type {
      grid-area: numDecrement;
    }
  }

  /* Remove ugly spinner buttons */
  & input[type='number'] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  & > div:only-of-type {
    grid-area: numInput;
  }

  & :global(.md-icon-separator) {
    justify-content: center;

    & :global(.md-icon-text) {
      display: none;
    }
  }
}
